/* * {padding: 0; margin: 0;} */

/* .container {
  max-width: 1200px;
  margin: auto;
} */

/* navigation start */
header {
  background: #5B8E25;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.navigation-bar {
  display: flex;
}

.logo {
  margin-right: 90px;
  filter: drop-shadow(0px 4px 0px #202020);
}

.navigation-bar-links {
  list-style: none;
  display: flex;
  margin-top: 35px;
  margin-bottom: 34px;
}

.navigation-bar-links li {
  margin-bottom: 0;
}
.navigation-bar  a {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 21px;

  margin-right: 20px;
  text-decoration: none;
  padding: .5rem;
  color: white;
}

.navigation-bar  a:visited {
  color: white;
}
/* navigation end */


/* hello start */
.hello {
  background: #5B8E25;
  height: 790px;
}

.content {
  padding-top: 135px;
}

.content h1 {
  font-family: Montserrat Alternates;
  font-style: normal;
  font-weight: normal;
  font-size: 70px;
  line-height: 75px;
  letter-spacing: 2px;
  color: #FFFFFF;
  margin: 0;
}

.content p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.45px;
  color: #FFFFFF;
  margin-left: 0;
  margin-bottom: 40px;
}

.button {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  text-align: center;


  display: inline-block;
  border-radius: 4px;
  background-color: #fff;
  border: none;
  color: #000;
  width: 200px;
  height: 50px;
  transition: all 0.5s;
  cursor: pointer;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  left: 10px;
}

.button span:after {
  content: ' 🛒';
  opacity: 0;
  top: 0;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 5px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.ill1 {
  position: absolute;
  width: 618px;
  height: 504px;
  left: 756px;
  top: 31px;
}

.ill2 {
  position: absolute;
  width: 594px;
  height: 463px;
  left: 500px;
  top: 381px;
}
/* hello end */


/* info start */
.info {
}

.about {
  padding: 80px 0;
  display: flex;
  justify-content: space-between;
}

.title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  padding: 15px;
  border-radius: 10px;
  border: 2px solid;
  color: #000;
}

.text-about h1 {
  font-family: Montserrat Alternates;
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  line-height: 48px;
  letter-spacing: 2px;
  color: #1C1C1D;
}

.text-about p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.45px;
  color: #474A57;
}

.cards {
  display: flex;
  flex-direction: column;
}

.clearfix {
  content: "";
  clear: both;
  display: table;
}

.card {
  margin-bottom: 36px;
  border: 2px solid;
  box-sizing: border-box;
  border-radius: 10px;
  background: #7711DD;
  display: flex;
}

.card img {
  max-width: 246px;
  max-height: 192px;
  margin: 25px 32px;
}

.card p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  margin: 55px 0;
}
/* info end */



/* ecomerce start */

.ecomerce {
  margin-bottom: 80px;
}


.title-info-about-kind {
  font-family: Montserrat Alternates;
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  line-height: 48px;
  letter-spacing: 2px;
  color: #1C1C1D;
}

.text-info-about-kind {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.45px;
    color: #474A57;
}

/* ecomerce end */




/* */
